@mixin colorSystem {
    /* Neutrals */
    --color-neutral-100: #F8F8FD;
    --color-neutral-200: #EBEBF6;
    --color-neutral-300: #D8D8E5;
    --color-neutral-400: #9B9BB1;
    --color-neutral-500: #7A7A92;
    --color-neutral-600: #54546B;
    --color-neutral-700: #1E1D26;
    --color-neutral-800: #111016;
    --color-neutral-900: #111016;
    --color-neutral-1000: #030111;
}