@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aktiv Grotesk Corp';
  font-style: normal;
  src: url(/fonts/AktivGroteskCorp-Medium.woff);
  line-height: 32px;
}

a {
  text-decoration: none,
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.toast {
  @apply flex flex-row items-center justify-between w-96 bg-gray-900 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
}
.button {
  @apply w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500;
}

.markdown > *:first-child {
  margin-top: 0 !important;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  padding: 0;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h4 {
  font-size: 1em;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 16px;
}

.markdown li + li {
  margin-top: 0.25em;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown > p > a > img {
  display: inline;
}

.markdown pre {
  padding: 15px;
  background-color: #f6f8fa;
  border-radius: 6px;
  margin-bottom: 16px;
}

.markdown code,
.markdown pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
}

.markdown a {
  color: #0969da;
}

.markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.tab::before {
  content: attr(data-content);
  display: block;
  font-weight: 500;
  height: 0;
  visibility: hidden;
}