name: Sapphire Desktop
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  unit-tests:
    name: Build Electron app
    runs-on: macos-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - uses: actions/checkout@v3
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          make install
      - name: Build & sign
        run: |
          make electron-sign
        env:
          CSC_LINK: ${{ secrets.APPLE_DEV_ID_CERT }}
          CSC_KEY_PASSWORD: ${{ secrets.APPLE_DEV_ID_CERT_PASS }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}

      - name: Upload the Archive
        uses: actions/upload-artifact@v3
        with:
          path: ./electron/dist/valist-1.0.0-arm64-mac.dmg
          name: valist-sapphire-1.0.0-arm64.dmg
          if-no-files-found: error